.container{
    position: absolute;
    top: 30%;
    left: 40%;
    width: 400px;
    background: white;
    border-radius: 10px;
}
.container h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.container form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt-field{
    position: relative;
    margin: 30px 0;
}
form .ddl{
    position: relative;
    margin: 20px 0;
}
form .addbtn{
    position: relative;
    margin: 20px 0;
}
.txt-field input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: scroll;
}
#addbtn{
    margin:2px 2px ;
    padding: 2px;
    font-family: montserrat;
    
}
#canclebtn{
    margin:2px 5px ;
    padding: 2px; 
    font-family: montserrat;
}
#deletebtn{
    margin:2px 2px ;
    padding: 2px;
    font-family: montserrat;  

}
