.overlay{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(49, 49, 49, 0.4);
    position: fixed;
}
#button {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    padding-left: 5px;
  }
  
#button:hover {background-color: #e7e7e7;}
.blog-type{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.popular{
    display: flex;
    margin: 3% 10%;
    padding: 10px 20px 44px 34px;
    background: white;
    border-radius: 15px;
}
.featured{
    display: flex;
    margin: 3% 10%;
    padding: 10px 20px 44px 34px;
    background: white;
    border-radius: 15px;
}