.Navbar{
    background-color: white;
    
}
ul{
    list-style: none;
    text-decoration: solid;
}
li{
 padding: 5px;
font-size: 20px;
cursor: pointer;
font-family: sans-serif;
border: 1px solid silver;
}
