.blog-content {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    padding: 10px 20px;
    border: 1px solid silver;
}
.heading{
    width: 400px;
}
.blog{
    display: flex;
    justify-content: space-around;

}
.popular-container{
    display: flex;
    flex-direction: column;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: scroll;
}